__pycache__/
*.pyc
*.pyo

# Ignore dataset and training output folders
instruction_induction/
prompt_picker_all_task_combined/
example_picker_all_task_combined/
wandb/

# Ignore cache and temporary files
*.log
*.tmp
*.bak
*.swp
.DS_Store

# Ignore Jupyter and Colab artifacts
.ipynb_checkpoints/
*.ipynb_save
!automatic_prompt_engineer/experiments/evaluation/instruction_induction/
